﻿form {
    background-color: lightgray;
    width: 500px;
    margin: auto;
}
form div {
    width: 50%;
    margin: auto auto;
}

form input[type=text] {
    border: 2px solid red;
}

form {
    text-align: center;
}
